@use '@/styles/abstract/variables' as *;

.leaderboardFilter {
  display: flex;
  justify-content: flex-end;
  gap: $space-2;

  .field {
    display: flex;
    align-items: center;
    gap: $space-2;

    select {
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      color: inherit;
      background-color: $color-background;
      border: none;
      outline: none;
      border: 1px solid $color-border;
      border-radius: $radius-sm;
      padding: $space-1 $space-2;

      background-image: url("data:image/svg+xml;utf8,<svg fill='none' stroke='white' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M6 9l6 6 6-6'/></svg>");
      background-repeat: no-repeat;
      background-position: right $space-2 center;
      background-size: 2rem;
    }
  }
}
