@use './reset';
@use './typography';
@use '../abstract/variables' as *;

html {
  font-size: 62.5%;
}

body {
  color: $color-text;
  background-color: $color-background;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
