@use '../abstract/variables' as *;

body {
  font-size: $font-size-base;
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 1.25;
  color: $color-text;
}

p {
  font-size: $font-size-base;
}

a {
  color: inherit;
  text-decoration: none;
}
