@use '@/styles/abstract/variables' as *;

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-3;
  padding: $space-5;

  .message {
    color: $color-error;
    font-weight: 500;
  }
}
