@use '@/styles/abstract/variables' as *;

.gamePage {
  display: flex;
  flex-direction: column;
  gap: $space-4;

  .pageSection {
    display: flex;
    flex-direction: column;
    gap: $space-2;

    .title {
      display: flex;
      font-size: $font-size-lg;
    }

    .characterList {
      display: flex;
      justify-content: center;
      gap: $space-2;
    }
  }
}
