@use '@/styles/abstract/variables' as *;

.notiPopup {
  position: fixed;
  border-color: $color-success;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: $space-2;
  background-color: $color-background;
  border-radius: $radius-sm;
  padding: $space-1 $space-2;
  border: 1px solid transparent;

  &.success {
    border-color: $color-success;
    color: $color-success;
  }

  &.warning {
    border-color: $color-warning;
    color: $color-warning;
  }
}
