@use '@/styles/abstract/variables' as *;

.timeElapsed {
  position: fixed;
  border-color: $color-success;
  right: $space-2;
  bottom: $space-2;
  background-color: $color-background;
  border-radius: $radius-sm;
  padding: $space-1 $space-2;
  border: 1px solid $color-text;
  width: 120px;
  text-align: center;
}
