@use '@/styles/abstract/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-2 $space-4;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $color-background;
  box-shadow:
    $color-overlay 0px 2px 5px -1px,
    $color-overlay 0px 1px 3px -1px;

  .navigation {
    ul {
      display: flex;
      gap: $space-1;

      a {
        padding: $space-1 $space-2;
        border-radius: $radius-sm;
        transition: background-color ease 0.2s;
      }

      a:hover {
        background-color: $color-overlay;
      }
    }
  }

  .actions {
    display: flex;
    gap: $space-1;
  }
}
