@use '@/styles/abstract/variables' as *;
@use '@/styles/animation/keyframes' as *;

.overlay {
  position: fixed;
  z-index: 2;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn ease 0.2s;

  .enterNameModal {
    background-color: $color-background;
    padding: $space-3;
    border-radius: $radius-sm;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: $space-2;
    gap: $space-5;
    animation: slideIn ease 0.2s;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $space-2;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: $space-1;

      input {
        color: inherit;
        outline: none;
        background-color: transparent;
        border: 1px solid $color-border;
        padding: $space-1 $space-2;
        border-radius: $radius-sm;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: $space-1;
      }
    }
  }
}
